<div class="col-lg-12 mt-5">
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4">Bienvenidos al foro de programacion</h1>
            <p class="lead">Comparte tus conocimientos o pide ayuda a los demas</p>
        </div>
        <br>
        <p>
            <a class="btn btn-primary btn-lg mr-3">Ver foro</a>
            <a class="btn btn-success btn-lg mr-3">Ver usuarios</a>
            <a class="btn btn-warning btn-lg mr-3">Hacer topic</a>
        </p>


    </div>
</div>