<div class="col-md-12">

    <h3>Mis temas</h3>
    <hr>
    <table class="table table-hover">
        <thead>
            <th>Titulo</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </thead>
        <tbody *ngFor="let topic of topics">
            <td>{{topic.title}}</td>
            <td>{{topic.date | amLocale: 'es' | amDateFormat:'LL'}}</td>
            <td>
                <button type="button" class="btn btn-warning mr-3" [routerLink]="['/panel','editar',topic._id]">
                    Editar
                </button>
                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" [attr.data-target]="'#modal'+ topic._id">
                    Borrar
                </button>

                <!-- The Modal -->
                <div class="modal" id="{{ 'modal' + topic._id}}">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Seguro que quieres borrar este tema?</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                El modal "{{topic.title}}" va a ser borrado de la memoria
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" (click)="delete(topic._id)" data-dismiss="modal">Confirmar</button>
                                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </td>
        </tbody>

    </table>
</div>