<div class="col col-md-12 mt-4">
    <h3>Buscar</h3>
    <br>
    <ul class="list-group" *ngFor="let topic of topics">
        <li class="list-group-item">
            <h4>
                <a [routerLink]="['/topic', topic._id]">{{topic.title}}</a>
            </h4>
            <br>
            <span class="bagde badge-primary pl-1">{{ " " + topic.user.name + " " +topic.user.surname+" " }}</span>
            <span class="bagde badge-light ml-3">{{topic.date | amLocale: 'es' | amTimeAgo}}</span>
            <a class="btn btn-success float-right text-light mx-auto d-block" [routerLink]="['/topic', topic._id]">Ver mas</a>
        </li>
    </ul>

</div>